<h1> Patients at Seattle Grace Hospital </h1>

<ul>
    <% @patients.each do |pt| %>
        <li> Name: <%= pt.name %><br>
        Number of Appointments: <%= pt.appointments.count %></li>
    <% end %>
</ul>