<h1>Doctors at Seattle Grace Hospital</h1>

<ul>
    <% @doctors.each do |doc| %>
        <li><%= link_to doc.name, doctor_path(doc) %> is working with 
        <%= pluralize(doc.patients.count, 'patient') %>.</li>
    <% end %>
</ul>